In [2]:
graph = {
    "1":[{"G3":120}, {"2":61}, {"3":76}],
    "2":[{"1":61}, {"T9":67}, {"4":60}],
    "3":[{"1":76}, {"20":54}, {"T11":0}],
    "4":[{"2":60}, {"T10":62}, {"7":130}],
    # "5"
    # "6"
    "7":[{"4":130}, {"8":85}, {"G1":59}],
    "8":[{"7":85}, {"9":18}, {"20":200}],
    "9":[{"8":18}, {"10":48}, {"11":51}],
    "10":[{"9":48}, {"11":73}, {"G1":94}],
    "11":[{"9":51}, {"10":73}, {"12":39}, {"16":130}],
    "12":[{"11":39}, {"13":93}, {"16":80}],
    "13":[{"12":93}, {"14":80}, {"T8":0}],
    "14":[{"13":80}, {"15":72}, {"G2":72}],
    "15":[{"14":72}, {"16":180}, {"23":73}],
    "16":[{"11":130}, {"12":80}, {"15":180}, {"17":35}],
    "17":[{"18":36}, {"16":35}, {"T7":0}],
    "18":[{"17":36}, {"19":21}, {"21":46}],
    "19":[{"18":21}, {"20":28}, {"36":170}],
    "20":[{"8":200}, {"19":28}, {"3":54}],
    "21":[{"18":46}, {"22":38}, {"26":69}],
    "22":[{"21":38}, {"23":93}, {"T6":0}],
    "23":[{"15":73}, {"22":93}, {"24":65}],
    "24":[{"23":65}, {"25":55}, {"30":110}],
    "25":[{"24":55}, {"26":62}, {"29":93}],
    "26":[{"21":69}, {"25":62}, {"27":42}],
    "27":[{"26":42}, {"28":42}, {"T5":0}],
    "28":[{"27":42}, {"29":69}, {"36":63}, {"T4":0}],
    "29":[{"25":93}, {"28":69}, {"30":47}],
    "30":[{"24":110}, {"29":47}, {"31":144}],
    "31":[{"30":144}, {"33":96}, {"T2":50}],
    #32
    "33":[{"T1":62}, {"31":96},  {"35":40}],
    #34
    "35":[{"33":62}, {"36":71}, {"T3":0}],
    "36":[{"19":150}, {"28":63}, {"35":71}],
    "T1":[{"33":62}],
    "T2":[{"31":50}],
    "T3":[{"35":0}],
    "T4":[{"28":0}],
    "T5":[{"27":0}],
    "T6":[{"22":0}],
    "T7":[{"17":0}],
    "T8":[{"13":0}],
    "T9":[{"2":67}],
    "T10":[{"4":62}],
    "T11":[{"3":0}],
    "G1":[{"7":59}, {"10":94}],
    "G2":[{"14":72}],
    "G3":[{"1":120}],
}

sources = ['G1', 'G2', 'G3']
destinations = ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11"]

In [3]:
def djikstra(graph, source, new_graph = None, visited_node = None, prev_dist = 0):
    if new_graph is None:
        new_graph = {}
    if visited_node is None:
        visited_node = []

    visited_node.append(source)
    if len(visited_node) == 1:
        new_graph[source] = {source:0}
    
    if (len(graph) == len(visited_node)):
        return new_graph
    
    min = 999
    next_node = ""
    for neighbor in graph[source]:
        node = next(iter(neighbor.keys()))
        dist = next(iter(neighbor.values())) + prev_dist
        
        if node in new_graph:
            if dist < next(iter(new_graph[node].values())):
                new_graph[node] = {source:dist}
        else:
            new_graph[node] = {source:dist}
    
    for node, origin in new_graph.items():
        dist = next(iter(origin.values()))
        if node not in visited_node:
            if dist < min:
                min = dist
                next_node = node

    return djikstra(graph, next_node, new_graph, visited_node, min)

In [4]:
def back_track_from(graph, dest):
    cur = dest
    path = [dest]
    while cur != next(iter(graph[cur].keys())):
        cur = next(iter(graph[cur].keys()))
        path.append(cur)
    
    return path[::-1]

In [5]:
graph_G1 = djikstra(graph, "G1")
graph_G2 = djikstra(graph, "G2")
graph_G3 = djikstra(graph, "G3")

In [6]:
for dest in destinations:
    print(back_track_from(graph_G1, dest))
for dest in destinations:
    print(back_track_from(graph_G2, dest))
for dest in destinations:
    print(back_track_from(graph_G3, dest))

['G1', '7', '8', '20', '19', '36', '35', '33', 'T1']
['G1', '7', '8', '20', '19', '36', '35', '33', '31', 'T2']
['G1', '7', '8', '20', '19', '36', '35', 'T3']
['G1', '10', '11', '12', '16', '17', '18', '21', '26', '27', '28', 'T4']
['G1', '10', '11', '12', '16', '17', '18', '21', '26', '27', 'T5']
['G1', '10', '11', '12', '16', '17', '18', '21', '22', 'T6']
['G1', '10', '11', '12', '16', '17', 'T7']
['G1', '10', '11', '12', '13', 'T8']
['G1', '7', '4', '2', 'T9']
['G1', '7', '4', 'T10']
['G1', '7', '4', '2', '1', '3', 'T11']
['G2', '14', '15', '23', '24', '30', '31', '33', 'T1']
['G2', '14', '15', '23', '24', '30', '31', 'T2']
['G2', '14', '15', '23', '24', '25', '26', '27', '28', '36', '35', 'T3']
['G2', '14', '15', '23', '24', '25', '26', '27', '28', 'T4']
['G2', '14', '15', '23', '24', '25', '26', '27', 'T5']
['G2', '14', '15', '23', '22', 'T6']
['G2', '14', '15', '16', '17', 'T7']
['G2', '14', '13', 'T8']
['G2', '14', '13', '12', '11', '9', '8', '7', '4', '2', 'T9']
['G2', '14', '13', '12', '11', '9', '8', '7', '4', 'T10']
['G2', '14', '15', '23', '22', '21', '18', '19', '20', '3', 'T11']
['G3', '1', '3', '20', '19', '36', '35', '33', 'T1']
['G3', '1', '3', '20', '19', '36', '35', '33', '31', 'T2']
['G3', '1', '3', '20', '19', '36', '35', 'T3']
['G3', '1', '3', '20', '19', '18', '21', '26', '27', '28', 'T4']
['G3', '1', '3', '20', '19', '18', '21', '26', '27', 'T5']
['G3', '1', '3', '20', '19', '18', '21', '22', 'T6']
['G3', '1', '3', '20', '19', '18', '17', 'T7']
['G3', '1', '3', '20', '19', '18', '17', '16', '12', '13', 'T8']
['G3', '1', '2', 'T9']
['G3', '1', '2', '4', 'T10']
['G3', '1', '3', 'T11']

In [7]:
import pandas as pd

pd.set_option('display.max_colwidth', None)

def output_table(graph, sources, destinations):
    header = {
        'Sumber': [],
        'Tujuan': [],
        'Path': [],
        'Cost': []
    }

    table = pd.DataFrame(header)
    table['Cost'] = table['Cost'].astype(int)

    for source in sources:
        new_graph = djikstra(graph, source)
        for dest in destinations:
            path = back_track_from(new_graph, dest)
            dist = next(iter(new_graph[dest].values()))
            
            # Buat path jadi string
            str_path = ""
            for node in path:
                str_path = str_path + node
                if node != dest:
                    str_path = str_path + " - "

            row = pd.DataFrame({'Sumber':source, 'Tujuan':dest, 'Path':[str_path], 'Cost':dist})
            table = pd.concat([table, row], ignore_index=True)

    return table

In [8]:
table = output_table(graph, sources, destinations)
table = table.style.set_properties(**{'text-align': 'left'})
table

In [14]:
table = output_table(graph, sources, destinations)
table = table.loc[table["Sumber"] == "G1"]
table = table.style.set_properties(**{'text-align': 'left'})
table

In [15]:
table = output_table(graph, sources, destinations)
table = table.loc[table["Sumber"] == "G2"]
table = table.style.set_properties(**{'text-align': 'left'})
table

In [16]:
table = output_table(graph, sources, destinations)
table = table.loc[table["Sumber"] == "G3"]
table = table.style.set_properties(**{'text-align': 'left'})
table